---
permalink: /about/
title: Me
layout: default.liquid
data:
  route: about
---
<div class="me">
  <img class="me-image" src="/img/me.jpg" />
  <br>
  <a href="mailto:kupospelov@gmail.com"><img class="contact-icon" alt="email" src="/img/envelope.svg" /></a>
  <a href="http://github.com/kupospelov"><img class="contact-icon" alt="github" src="/img/github.svg" /></a>
</div>
<h1>Hi there.</h1>
<p>
My name is Konstantin. I write programs.
</p>
<p>
In my spare time, I sometimes contribute to free and open-source software. I created a ctags plugin for <a href="https://github.com/martanne/vis">vis</a>, implemented the join command for <a href="https://github.com/uutils/coreutils">uutils</a>, and sent a number of patches to other projects.
</p>
