---
permalink: /about/
title: Me
layout: default.liquid
data:
  route: about
---
<img class="me-image" src="/img/me.jpg" />
<h1>Hi there.</h1>
<p>
I am Konstantin. I develop software. In my spare time, I sometimes contribute to open-source projects.
</p>
<div class="contacts">
  <a href="mailto:kupospelov@gmail.com"><img class="contact-icon" src="/img/envelope.svg" /></a>
  <a href="http://github.com/kupospelov"><img class="contact-icon" src="/img/github.svg" /></a>
</div>
