html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  width: calc(100vw - 30px);
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

ul li {
  margin-bottom: 10px;
}

article h1 {
  text-align: center;
}

article pre {
  padding: 5px;
}

code {
  background: #edededcc;
  padding: 3px;
  border-radius: 3px;
}

footer {
  text-align: center;
}

time {
  font-weight: bold;
  color: #aaa;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  padding: 28px 0;
}

nav hr {
  display: none;
}

nav .menu-item {
  display: block;
  padding: 10px 0 10px 20px;
  text-decoration: none;
  font-weight: 100;
}

nav a.menu-item {
  color: #000;
}

.menu-item.current {
  font-weight: bold;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 40px 40px;
  box-sizing: border-box;
  min-height: 600px;
}

.me-image {
  height: 250px;
  margin: 20px 50px;
  float: right;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px #dedede;
}

.contacts {
  float: right;
}

.contact-icon {
  width: 30px;
  height: 30px;
  padding: 10px;
}

.blog-list {
  text-align: left;
}

.blog-list a {
  font-weight: bold;
}

.blog-excerpt {
  margin-bottom: 30px;
}

.title {
  margin: 5px;
}

hr {
  padding: 0;
  max-width: 900px;
  height: 1px;
  border: 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0));
}

@media all and (max-width:1366px) {
  main {
    padding: 25px 40px;
  }
  nav {
    position: static;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
  nav .menu-item {
    display: inline-block;
    padding: 10px 0 10px 20px;
  }
  .menu hr {
    display: block;
  }
}

@media all and (max-width:768px) {
  main {
    padding: 20px 40px;
  }
}

@media all and (max-width:390px) {
  header {
    margin-top: 10px;
    height: 50px;
  }
  main {
    padding: 15px 20px;
  }
}
