<nav class="menu">
  <a class="menu-item {% if page.data.route == "blog" %}current{% endif %}" href="/">blog</a>
  <a class="menu-item {% if page.data.route == "about" %}current{% endif %}" href="/about">about</a>
  <a class="menu-item" href="http://github.com/kupospelov">github</a>
  <a class="menu-item" href="/rss.xml">rss</a>
  <hr>
</nav>
