<nav class="menu">
  <a class="menu-item {% if page.data.route == "blog" %}current{% endif %}" href="/">blog</a>
  <a class="menu-item {% if page.data.route == "about" %}current{% endif %}" href="/about">about</a>
  <hr>
</nav>
