{{ define "main" }}
<div class="me">
  <img class="me-image" src="/img/me.jpg" />
  <br>
  <div class="contacts">
    <a href="https://github.com/kupospelov"><img class="contact" alt="github" src="/img/github.svg"></img></a>
    <a href="https://www.linkedin.com/in/kupospelov"><img class="contact" alt="linkedin" src="/img/linkedin.svg"></img></a>
    <a href="https://www.instagram.com/kupospelov"><img class="contact" alt="instagram" src="/img/instagram.svg"></img></a>
    <a href="mailto:kupospelov@gmail.com"><img class="contact" alt="mail" src="/img/envelope-fill.svg"></img></a>
  </div>
</div>
<h1>Hi there.</h1>
<p>
{{ .Content }}
</p>
{{ end }}
